Repository KarstenSiemer/BMMI, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, build, kustomize, dev, test, prod, ci

.github/labeler.yml:

deploy:
  - changed-files:
      - any-glob-to-any-file:
          ['deploy/kustomize/base/**', 'deploy/kustomize/overlays/pr/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'app/**']

kustomize:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/**']

dev:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/dev/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/test/**']

prod:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/prod/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '.*']

docs(changelog): 1.8.6
  CHANGELOG.md
  releases/1.8.6.md
Labels: none

Notes added by 'git notes add'
  ab36a78d0327e9924b0177417aeb575818197fe2
Labels: none

fix(ci): semantic-release config
  .DS_Store
  .releaserc.yaml
  publish_release.bash
  releases/1.8.6.md
Labels: ci

fix(ci): semantic-release config
  .DS_Store
  .releaserc.yaml
  publish_release.bash
  releases/1.8.6.md
Labels: ci

chore(core): set bmmi release image to 1.8.7
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(ci): semantic-release config
  .releaserc.yaml
  publish_release.bash
Labels: ci

fix(ci): semantic-release config
  .releaserc.yaml
  publish_release.bash
Labels: ci

fix(ci): semantic-release config
  publish_release.bash
Labels: none

fix(ci): semantic-release config
  publish_release.bash
Labels: none

docs(changelog): 1.8.7
  CHANGELOG.md
  releases/1.8.7.md
Labels: none

Notes added by 'git notes add'
  27f06690fc9b22ee0aa775205c7d196f6fb52108
Labels: none

fix(ci): semantic-release and renovate
  .github/renovate.json
  .github/workflows/release.yml
  .releaserc-include-chores.yaml
  releases/README.md
Labels: ci

fix(ci): semantic-release and renovate
  .github/renovate.json
  .github/workflows/release.yml
  .releaserc-include-chores.yaml
  releases/README.md
Labels: ci

chore(core): set bmmi release image to 1.8.8
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.8
  CHANGELOG.md
  releases/1.8.8.md
Labels: none

Notes added by 'git notes add'
  811ff5d40c16e32c08a0ad6dfb171b9a0cd8cec5
Labels: none

fix(ci): confluence docs
  .github/workflows/release.yml
Labels: ci

fix(ci): confluence docs
  .github/workflows/release.yml
Labels: ci

chore(core): set bmmi release image to 1.8.9
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.9
  CHANGELOG.md
  releases/1.8.9.md
Labels: none

Notes added by 'git notes add'
  0f52b7e052dcceb782cde25879e67ac9209a6175
Labels: none

fix(ci): confluence docs
  publish_release.bash
  releases/1.8.7.md
  releases/1.8.8.md
  releases/1.8.9.md
Labels: none

fix(ci): confluence docs
  publish_release.bash
  releases/1.8.7.md
  releases/1.8.8.md
  releases/1.8.9.md
Labels: none

chore(core): set bmmi release image to 1.8.10
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.10
  CHANGELOG.md
  releases/1.8.10.md
Labels: none

Notes added by 'git notes add'
  f6e6c048695fa4f2ab7253d1f0ba9b0fe88756c5
Labels: none
