Repository KarstenSiemer/BMMI, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, build, kustomize, dev, test, prod, ci

fix(release): wrong indentation
  .github/workflows/release.yml
Labels: ci

fix(release): wrong indentation (#8)
  .github/workflows/release.yml
  .releaserc.yaml
Labels: ci

fix(core): set release image
  deploy/kustomize/base/core/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  5f38fa7e38ab29a3fb2dbe16553c95ec7d9dc734
Labels: none

docs(changelog): 1.4.0
  CHANGELOG.md
Labels: none

fix(ci): commit release changes using semantic relase ci
  .github/workflows/release.yml
  .releaserc.yaml
Labels: ci

fix(core): set bmmi release image to 1.4.1
  deploy/kustomize/base/core/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.4.1
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  3a53d5f76387518558944ac691b73b6e8096f361
Labels: none

fix(ci): compliant release flow
  .github/workflows/release.yml
Labels: ci

fix(core): set bmmi release image to 1.4.2
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.4.2
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  2c50a6f6861dddc3e7fc199a4e19ba3c5076ef14
Labels: none

fix(ci): build multiarch
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Labels: ci

fix(core): set bmmi release image to 1.4.3
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.4.3
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  64d7768b2c5476a83bbf5cd851eb472e95633a43
Labels: none

feat(probes): add ready and liveness probes
  .github/workflows/pr-build.yml
  .github/workflows/pr-label.yml
  .pre-commit-config.yaml
  app/commons/commons.php
  app/healthz/life.php
  app/healthz/ready.php
  app/inc/db.php
Labels: build, ci

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:c99d9a58ae05b68ce1f49f59af3aaddb79e7685d
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:19aa5b5d1a4635d5a9aeabbc6fc759b1073c4e08
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

feat(probes): add ready and liveness probes (#9)
  .github/workflows/pr-build.yml
  .github/workflows/pr-label.yml
  .pre-commit-config.yaml
  app/commons/commons.php
  app/healthz/life.php
  app/healthz/ready.php
  app/inc/db.php
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, build, kustomize, ci

fix(core): set bmmi release image to 1.5.0
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.5.0
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  808541a57b9c33d0380e9a1c5b0335be29f2ceb5
Labels: none

feat(kustomize): port naming
  .github/workflows/release.yml
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/core/service.yaml
  deploy/kustomize/base/database/service.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize, ci

feat(argocd): decrease requeue to 30 seconds from 1800
  deploy/applicationset-pr.yaml
Labels: none

feat(kustomize): port naming (#10)
  .github/workflows/release.yml
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/core/service.yaml
  deploy/kustomize/base/database/service.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize, ci

fix(core): set bmmi release image to 1.6.0
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  cdebc4d70075c3cdd5564828d8f87e809ba78f50
Labels: none

docs(changelog): 1.6.0
  CHANGELOG.md
Labels: none

fix(app): bmmi sec context & db container arg
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize

fix(actions): release permissions
  .github/workflows/release.yml
Labels: ci

fix(argocd): commonLabel prefix
  deploy/applicationset-pr.yaml
Labels: none

fix(app): bmmi sec context & db container arg (#11)
  .github/workflows/release.yml
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize, ci

fix(core): set bmmi release image to 1.6.1
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.6.1
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  253cb6d97df252d840e10aeb6b5b17005d5639e2
Labels: none

fix(kustomize): mysql settings
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize

fix(kustomize): mysql settings (#12)
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize

fix(core): set bmmi release image to 1.6.2
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

.github/labeler.yml:

deploy:
  - changed-files:
      - any-glob-to-any-file:
          ['deploy/kustomize/base/**', 'deploy/kustomize/overlays/pr/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'app/**']

kustomize:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/**']

dev:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/dev/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/test/**']

prod:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/prod/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '.*']
