Repository KarstenSiemer/BMMI, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, build, kustomize, dev, test, prod, ci

feat(app): change bg color
  app/index.html
Labels: build

chore(core): set bmmi release image to 1.8.0
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  ab768a46e3ea2a3bf0dc08938198949d36ecc580
Labels: none

docs(changelog): 1.8.0
  CHANGELOG.md
Labels: none

fix(app): change background color
  app/index.html
  renovate.json
Labels: build

chore(actions): explicitly add deploy label
  .github/workflows/pr-build.yml
Labels: ci

chore(pr): set pr overlay image to karstensiemer/bmmi-pr:66608bb1d9fe3a861675a7259e010232fbf51e1a
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(app): change background color
  app/index.html
  renovate.json
Labels: build

chore(pr): set pr overlay image to karstensiemer/bmmi-pr:66608bb1d9fe3a861675a7259e010232fbf51e1a
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

chore(actions): explicitly add deploy label
  .github/workflows/pr-build.yml
Labels: ci

chore(core): set bmmi release image to 1.8.1
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.1
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  5910af381a326eedad54f419a2eb94ff5927da58
Labels: none

fix(ci): trigger release and check release docs
  .releaserc.yaml
  releases/README.md
Labels: ci

fix(ci): trigger release and check release docs
  .releaserc.yaml
  releases/README.md
Labels: ci

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

chore(core): set bmmi release image to 1.8.2
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.2
  CHANGELOG.md
  releases/${nextRelease.version}.md
Labels: none

Notes added by 'git notes add'
  047e5a13ad22629437f91493a9f78b772fa13bfe
Labels: none

fix(ci): semantic-release config
  .github/workflows/release.yml
  .releaserc.yaml
  publish_release.bash
  releases/${nextRelease.version}.md
Labels: ci

fix(ci): semantic-release config
  .github/workflows/release.yml
  .releaserc.yaml
  publish_release.bash
  releases/${nextRelease.version}.md
Labels: ci

fix(ci): semantic-release config
  .github/workflows/release.yml
Labels: ci

fix(ci): semantic-release config
  .github/workflows/release.yml
Labels: ci

chore(core): set bmmi release image to 1.8.3
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.8.3
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  9c6ab9515bcbf7014af58eaa3f4c8d29d1856bbb
Labels: none

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

chore(core): set bmmi release image to 1.8.4
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

Notes added by 'git notes add'
  fcae7355907abae73b7424b1ad6966edb4e0c2c3
Labels: none

docs(changelog): 1.8.4
  CHANGELOG.md
Labels: none

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

chore(core): set bmmi release image to 1.8.5
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  b1d0fca89fb96f5cb8649ef0d16094fc73651eed
Labels: none

docs(changelog): 1.8.5
  CHANGELOG.md
Labels: none

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

fix(ci): semantic-release config
  .releaserc.yaml
Labels: ci

chore(core): set bmmi release image to 1.8.6
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

.github/labeler.yml:

deploy:
  - changed-files:
      - any-glob-to-any-file:
          ['deploy/kustomize/base/**', 'deploy/kustomize/overlays/pr/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'app/**']

kustomize:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/**']

dev:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/dev/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/test/**']

prod:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/prod/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '.*']
