Repository KarstenSiemer/BMMI, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, build, kustomize, dev, test, prod, ci

fix(kustomize): test curl
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/service.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
  deploy/kustomize/overlays/pr/tests/job.yaml
  todo.md
Labels: deploy, kustomize

fix(kustomize): test curl (#19)
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/service.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
  deploy/kustomize/overlays/pr/tests/job.yaml
  todo.md
Labels: deploy, kustomize

fix(core): set bmmi release image to 1.7.4
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.4
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  0dbfcb731dc30a18d0f84cd25cc6d39fd465e40c
Labels: none

chore(envs): set test and prod to remote bases
  deploy/kustomize/overlays/prod/kustomization.yaml
  deploy/kustomize/overlays/test/kustomization.yaml
  todo.md
Labels: kustomize

chore(envs): set test and prod to remote bases (#20)
  deploy/kustomize/overlays/prod/kustomization.yaml
  deploy/kustomize/overlays/test/kustomization.yaml
  todo.md
Labels: kustomize

docs(readme): fixup
  README.md
Labels: none

docs(readme): fixup (#21)
  README.md
Labels: none

fix(phpstan): update sat and fix mixed handling
  .DS_Store
  .pre-commit-config.yaml
  app/healthz/live.php
  app/healthz/ready.php
  app/inc/db.php
  app/inc/setup-db.php
  composer.json
  composer.lock
Labels: build, ci

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:f9cb46ff9ec22f04377dd16e54fa2f27b4623b7b
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(phpstan): update sat and fix mixed handling (#23)
  .DS_Store
  .pre-commit-config.yaml
  app/healthz/live.php
  app/healthz/ready.php
  app/inc/db.php
  app/inc/setup-db.php
  composer.json
  composer.lock
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, build, kustomize, ci

fix(core): set bmmi release image to 1.7.5
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  f410b9efe4a68d9294fe50dd243c70648862a407
Labels: none

docs(changelog): 1.7.5
  CHANGELOG.md
Labels: none

fix(renovate): config
  renovate.json
Labels: none

fix(core): set bmmi release image to 1.7.6
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

Notes added by 'git notes add'
  7a7ae78cb0c0ffc65c1ba92b15eb8277dfc6038c
Labels: none

docs(changelog): 1.7.6
  CHANGELOG.md
Labels: none

docs(changelog): 1.7.7
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  4680ef039f3c2c112fb9fe0a93e86bc1164e17bf
Labels: none

fix(renovate): deactivate automerge
  renovate.json
Labels: none

fix(mariadb): probes to mariadb-admin
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, kustomize

fix(core): set bmmi release image to 1.7.8
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.8
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  375c9110897915ae6c37923bdba328d4f94b2c28
Labels: none

chore(renovate): fix config
  renovate.json
Labels: none

chore(renovate): fix config (#31)
  renovate.json
Labels: none

docs(changelog): 1.7.9
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  4beed514c7c5a298ae3f275a00de9173f4daf0dc
Labels: none

chore(renovate): fix config again
  renovate.json
Labels: none

chore(renovate): fix config again (#32)
  renovate.json
Labels: none

chore(renovate): remove argocd yamls
  renovate.json
Labels: none

chore(renovate): remove argocd yamls (#35)
  renovate.json
Labels: none

chore(renovate): fix config
  .releaserc.yaml
  renovate.json
Labels: ci

chore(renovate): fix config (#37)
  .releaserc.yaml
  renovate.json
Labels: ci

feat(app): change bg color
  app/index.html
Labels: build

chore(renovate): unpin digests and chore pr
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  .releaserc.yaml
  renovate.json
Labels: ci

chore(pr): set pr overlay image to karstensiemer/bmmi-pr:f28bf24bb41c0d12472e1647b78cb6b9f2fb5749
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

chore(pr): set pr overlay image to karstensiemer/bmmi-pr:f28bf24bb41c0d12472e1647b78cb6b9f2fb5749
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

.github/labeler.yml:

deploy:
  - changed-files:
      - any-glob-to-any-file:
          ['deploy/kustomize/base/**', 'deploy/kustomize/overlays/pr/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'app/**']

kustomize:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/**']

dev:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/dev/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/test/**']

prod:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/prod/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '.*']
