Repository KarstenSiemer/BMMI, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, build, kustomize, dev, test, prod, ci

.github/labeler.yml:

deploy:
  - changed-files:
      - any-glob-to-any-file:
          ['deploy/kustomize/base/**', 'deploy/kustomize/overlays/pr/**']

build:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'app/**']

kustomize:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/**']

dev:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/dev/**']

test:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/test/**']

prod:
  - changed-files:
      - any-glob-to-any-file: ['deploy/kustomize/overlay/prod/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '.*']

docs(changelog): 1.6.2
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  db95da1f54696173cb200681da1e94cdf4dbcedf
Labels: none

fix(kustomize): adjust probes
  app/healthz/live.php
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
Labels: deploy, build, kustomize

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:0259c89a5e9a6fae851c662205ca10385fb149e2
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(kustomize): liveness initialdelay must be 1
  deploy/kustomize/base/core/deployment.yaml
Labels: deploy, kustomize

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:ce6686afb02fcde0d6aeecbb6b4bc2e843623e20
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(kustomize): add replacement for referenced values in bmmi
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:e476e22d09a82071afe27858ca3394041e5a7be5
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(kustomize): adjust probes (#13)
  app/healthz/live.php
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/base/database/statefulset.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, build, kustomize

fix(core): set bmmi release image to 1.6.3
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.6.3
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  ab8a7cb6246a9cc643cc89cc6ff81fdf7dc506dd
Labels: none

feat(probes): add startup probe
  app/commons/commons.php
  app/healthz/live.php
  app/healthz/ready.php
  app/inc/db.php
  app/inc/setup-db.php
  deploy/kustomize/base/core/deployment.yaml
Labels: deploy, build, kustomize

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:d7cca83484a995ff181900ad81ba2f79ff31b5df
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

fix(probes): startup code header and http code
  app/inc/setup-db.php
Labels: build

fix(pr): set pr overlay image to karstensiemer/bmmi-pr:c6f046c716526c67e0e35fa16f8c37b33bf8e7c4
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

feat(probes): add startup probe (#14)
  app/commons/commons.php
  app/healthz/live.php
  app/healthz/ready.php
  app/inc/db.php
  app/inc/setup-db.php
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, build, kustomize

fix(core): set bmmi release image to 1.7.0
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.0
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  0dd28b119d9ad2201e49f30531c64c3760c63f18
Labels: none

fix(metadata): app metadata
  deploy/applicationset-env.yaml
  deploy/applicationset-pr.yaml
Labels: none

fix(kustomize): proxy body size
  deploy/kustomize/base/core/ingress.yaml
Labels: deploy, kustomize

fix(metadata): app metadata (#15)
  deploy/applicationset-env.yaml
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/ingress.yaml
Labels: deploy, kustomize

fix(core): set bmmi release image to 1.7.1
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.1
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  cea6adbb650a8e31d83e341765947413162cfd77
Labels: none

fix(kustomize): argocd sync waves
  deploy/applicationset-env.yaml
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/base/database/kustomization.yaml
  deploy/kustomize/base/secrets/kustomization.yaml
  deploy/kustomize/overlays/pr/tests/kustomization.yaml
Labels: deploy, kustomize

fix(kustomize): argocd pr app ns label
  deploy/applicationset-pr.yaml
Labels: none

fix(core): set bmmi release image to 1.7.2
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.2
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  a2340e57f6fbf94485cbf785657d756409b68939
Labels: none

fix(kustomize): argocd sync waves (#16)
  deploy/applicationset-env.yaml
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/base/database/kustomization.yaml
  deploy/kustomize/base/secrets/kustomization.yaml
  deploy/kustomize/overlays/pr/tests/kustomization.yaml
Labels: deploy, kustomize

fix(core): set bmmi release image to 1.7.3
  deploy/kustomize/base/core/kustomization.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
Labels: deploy, kustomize

docs(changelog): 1.7.3
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  b90115a4b07b9a3d09ec06c7f96772c3e96e54b7
Labels: none

fix(kustomize): test curl
  deploy/applicationset-pr.yaml
  deploy/kustomize/base/core/deployment.yaml
  deploy/kustomize/overlays/pr/kustomization.yaml
  deploy/kustomize/overlays/pr/tests/job.yaml
  todo.md
Labels: deploy, kustomize

docs(changelog): 1.7.3
  CHANGELOG.md
  deploy/kustomize/overlays/pr/tests/job.yaml
Labels: deploy, kustomize

fix(kustomize): test curl
  deploy/kustomize/overlays/pr/tests/job.yaml
Labels: deploy, kustomize

fix(kustomize): test curl
  deploy/kustomize/overlays/pr/tests/job.yaml
Labels: deploy, kustomize

fix(kustomize): test curl
  deploy/kustomize/overlays/pr/tests/job.yaml
Labels: deploy, kustomize
